@import url('https://fonts.googleapis.com/css?family=Space+Mono');

@import '../node_modules/spectre.css/dist/spectre.min.css';
@import '../node_modules/spectre.css/dist/spectre-exp.min.css';

html {
  --transition-timing: cubic-bezier(0.42, 0, 0.6, 1.05);
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

main {
  position: relative;
  font-size: 0.9rem;
  overflow: hidden;
}

main,
main section,
main section a:visited,
.chip {
  transition-property: background-color;
  transition-timing-function: var(--transition-timing);
  transition-duration: 1s;
}

main * h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Mono', monospace;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
}

p {
  margin-bottom: 0.2rem;
}

i {
  width: 1rem !important;
}

article.warn {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(244, 67, 54, 0.86);
}

article.warn h4 {
  text-align: center;
  margin: 1rem;
  color: white;
}

.container {
  padding: 0.5rem 1rem 0 1rem;
  width: auto;
}

section.background {
  height: 100%;
}

section.background h2 {
  margin-bottom: 0;
}

section.background h3 {
  padding-top: 0.5rem;
}

section.background div.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

section.background header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar.avatar-xl {
  height: 4rem;
  width: 4rem;
  flex-shrink: 0;
}

section.background blockquote {
  margin-bottom: 1.5rem;
  line-height: 1rem;
  margin-block-end: 0;
  margin-inline-end: 0;
}

section.background div.container > div.animated-load,
i.invert {
  opacity: 0;
  transform: translateY(-25%);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-name: appear;
  animation-timing-function: var(--transition-timing);
  animation-delay: 2000ms;
}

section.background div.container > div.animated-load {
  display: flex;
  flex-direction: column;
}

i.invert {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section.draggable {
  position: absolute;
  border-top-right-radius: 64px;
  bottom: -300%;
  transform: translateY(100%);
  animation: 500ms var(--transition-timing) 1500ms stacks-appear forwards;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@keyframes stacks-appear {
  to {
    transform: translateY(0);
  }
}

section.draggable div.container {
  height: 100%;
}

section.draggable.transition {
  transition-property: all;
  transition-timing-function: var(--transition-timing);
  transition-duration: 1s;
}

section.draggable article + article {
  padding-top: 1rem;
}

div.articles {
  height: calc(100% - 3rem);
  overflow-y: scroll;
}

.timeline .timeline-item .timeline-icon.icon-lg {
  background: transparent;
  border-width: 0.11rem;
  border-style: solid;
  border-radius: 50%;
  margin-top: 0.2rem;
  height: 0.8rem;
  width: 0.8rem;
}

.timeline .timeline-item::before {
  left: 5px;
  top: 1.2rem;
  width: 1px;
}

p.tile-subtitle.description {
  padding-top: 0.1rem;
}

h4.tile-title {
  margin-top: -2px;
}

.chip {
  height: 1.4rem;
  max-width: unset;
}

.tile-title,
.tile.tile-centered .tile-subtitle {
  white-space: unset !important;
}
.tile-subtitle.description {
  white-space: pre-line;
}

i.contact {
  margin-right: 1rem;
}
