@import url('https://fonts.googleapis.com/css?family=Space+Mono');

@import '../node_modules/spectre.css/dist/spectre.min.css';

html {
  --bg-color: white;
  --ft-color: black;
}

html {
  height: 100%;
}

body {
  padding: 2rem;
  color: var(--ft-color);
  background-color: var(--bg-color);
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Mono', monospace;
  color: var(--ft-color);
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 1.5rem;
}

a {
  color: var(--ft-color) !important;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav {
  padding-top: 2rem;
}

nav a:last-child {
  display: block;
}

nav a {
  text-transform: uppercase;
  padding-right: 1rem;
  padding-bottom: 1rem;
  white-space: pre-wrap;
}

@media (min-width: 992px) {
  body {
    padding: 5rem 20rem;
  }
  h2 {
    padding-top: 2rem;
  }
  nav a:last-child {
    display: inline;
  }
}
